# Password for nuxt-auth-utils (minimum 32 characters)
NUXT_SESSION_PASSWORD=
# SSO OAuth configuration
NUXT_SSO_CLIENT_ID=
NUXT_SSO_CLIENT_SECRET=
NUXT_SSO_AUTHORIZE_URL=
NUXT_SSO_TOKEN_URL=
NUXT_SSO_USERINFO_URL=
NUXT_SSO_REDIRECT_URL=
NUXT_TOKEN_EXCHANGE_URL=
NUXT_SSO_COOKIE_NAME=sso_token
# Internal service base URL
FLASK_API_URL=http://localhost:5001
# Blob read write token
BLOB_READ_WRITE_TOKEN=
